table {
    width: 80%;
    border-collapse: collapse;
}

th {
    height: 50px;
}


table, th, td {
    border: 1px solid black;
    max-width: 550px;
}


/* These CSS tags relate to the index page currently*/

a {
 color:white !important;   
    align: center;
}

.panel-default > .panel-body {
 background-color:#FFA300 !important;
}

.jumbotron {
background-color:transparent!important;    
}


body {
   background:#EBEBD6 !important;
}

form {
    
    
 font-family:arial;
    color: black;
}

h1 {
    
 text-align: center;
  text-align: center;
}

h4 {
    
 color: white !important;
    text-align: center;
}

/* These CSS tags are for the temp nav bar */
div#hmenu { 
   margin: 0; 
   padding: .3em 0 .3em 0; 
   background-color: coral; 
   width: 100%; 
   text-align: center; 
} 

div#hmenu ul { 
   list-style: none; 
   margin: 0; 
   padding: 0; 
} 

div#hmenu ul li { 
   margin: 0; 
   padding: 0; 
   display: inline; 
} 

div#hmenu ul a:link{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #004415; 
} 

div#hmenu ul a:visited{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #227755; 
} 

div#hmenu ul a:active{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #227755; 
} 

div#hmenu ul a:hover{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #f6f0cc; 
   background-color: #227755; 
}